/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.bgImgCenter{
  background-image: url('./back.png');
  background-repeat: no-repeat;
  background-position: center; 
  background-color: #0A4B81;
  position: cover;
  height: 100%;


  background-image: url("img_girl.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgImgCentergame{
  background-image: url('./gameback.png');
  background-repeat: no-repeat;
  background-position: center; 
  background-color: #0A4B81;
  position: cover;
  height: 100vh;
}
.gameCol{
  height: 400px;
  width: 400px;
}
.gpadding {
  padding: 1rem 9rem 0rem 9rem !important;
}

.row,.col{
  margin: 0px;
  padding: 0px;
}

/* .centerDiv{
  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
} */
.centerDiv {
  position: absolute;

  top: 20%;
  left: 30%;

}
.whiteborder{
  border: 6px solid white;
}
.bb{
  border: 2px solid transparent !important;
  border-color: white !important;
}

.purple{
  color: #0A4B81;
  font-weight: 800;
}


.pupleButton{

  background: #F2911C;
}
.white{
  color: white;
}

.heading{

  font-size: 18px;
}

.rounded {
  border-radius: 1.25rem!important;
 
}

.gameColbutton{
width: 400px;
}

.tr{
  text-align: right;
}

input{
  height:26px
}

.mrg{
  margin-top: 140px;
}

.emg{
  margin-top: 15px;
}


.card{
  background-color: transparent;
}

.w-100 {
  width: 80%!important;
}

.wd{
  width: 98%;
}